@page
@model Ospedale.Views.Medici.FormInserisci

@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Aggiungi medico</title>
    <script src="~/js/site.js"></script>
</head>
<body>
<h1 class="mb-2">Aggiungi medico</h1>
<form action="/Medico/Inserisci" onsubmit="return valida()" method="post">

    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="nome">Nome</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="nome" name="nome" placeholder="Medico">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Nome del medico</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="cognome">Cognome</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="cognome" name="cognome" placeholder="Cognome">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Cognome del medico</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="dob">Dob</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="dob" name="dob" placeholder="Dob">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Data di nascita del medico</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="residenza">Residenza</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="residenza" name="residenza" placeholder="Residenza">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Residenza del medico</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="reparto">Reparto</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="reparto" name="reparto" placeholder="Reparto">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Reparto del medico</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="primario">Primario</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <div class="d-flex flex-row align-center justify-start">
                <p class="toggle-note">No</p>
                <label class="switch">
                    <input type="checkbox" id="primario" name="primario"/>
                    <div class="slider round"></div>
                </label>
                <p class="toggle-note">Yes</p>
            </div>
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Il medico e primario?</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="pazientiGuariti">PazientiGuariti</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="number" class="hover" id="pazientiGuariti" name="pazientiGuariti" placeholder="Pazienti guariti">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Numero pazienti guariti</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="totaleDecessi">TotaleDecessi</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="totaleDecessi" name="totaleDecessi" placeholder="Totale decessi">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Decessi totali</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="ospedale">Ospedale</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="ospedale" name="ospedale" placeholder="Ospedale">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Numero ospedale</p>
            </div>
        </div>
    </div>
    <div class="divider my-3"></div>
    <input class="btn btn-success" type="submit" value="Salva" />
</form>
</body>
</html>
