@page
@model HotPork.Views.Home.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>HOTPORK</title>
</head>
<body>
<div class="d-flex w-100 h-100 justify-center align-center">

<section
    class="d-flex flex-col align-center justify-center w-75 h-fit gap-3 bg-dark-subtle b1 p-3 rounded border-primary blur-5 noselect">
    <h1 class="text-primary">Benvenuti su
        <span class="bg-primary p-1 text-dark rounded shadow-primary bold">Hot Pork</span></h1>
    <p class="text-light">il maiale piu <span class="bg-primary p-1 text-dark rounded shadow-primary bold">caldo</span> della city</p>
</section>
</div>
</body>
</html>
